header {
    background: #212121;
}
.header-top {
.account {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    border-bottom: 2px #595959 solid;
    i {
        color: #ff3448;
    }
    a { 
        font-size: 14px;
        color: #ff3448;
        font-family: "Lato";
        font-weight: 400;
        margin: 0 10px;
        &:hover {
            text-decoration: none;
        }
    }
}
}
.header-main {
    background-color: #212121;
    .header-contact {
        text-align: right;
        .tel {
            color: #fff;
            padding-left: 100px;
            padding-top: 10px;
            font-size: 18px;
            font-family: "Lato";
            font-weight: 600;
            i {
                color: #ff3448;
                margin-right: 10px;
            }
        }
        .work {
            color: #595959;
            font-size: 16px;
        }
    }
    .header-links {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
        .links {
            padding: 0 10px;
            border-left: 1px solid #595959;
            &:last-child {
                border-right: 1px solid #595959;
            }
            height: 60px;
        }
        a {
            color: white;
            padding-right: 5px;
            &:hover {
                text-decoration: none;
            }
            i {
                color: #ff3448;
                display: block;
                margin: auto;
                width: max-content;
                font-size: 2rem;
                margin-bottom: 3px;
            }
            span {
                display: block;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}
.header-menu {
    background-color: black;
    padding: 5px;
    .menu {
        .menu-container {
            display: flex;
            justify-content: flex-start;
            li {
                padding-top: 5px;
                list-style: none;
                margin: 0 10px;
                &:first-child {
                    margin: 0;
                }
                a {
                    color: white;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-family: "Lato";
                    font-weight: 400;
                    &:hover {
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
}

.services {
    .product-gray {
        background-color: #303030;
    }
    .product-black {
        background-color: #1c1c1c;
    }
    .product {
        display: flex;
        width: 100%;
        padding: 0;
        .text {
            position: relative;
            top: 25%;
            padding-left: 40px;
            width: 50%;
            height: max-content;
            h3 {
                color: #fff;
            }
            p {
                color: #979696;
            }
        }
        img {
            max-width: 50%;
            height: auto;
        }
    }
}


.products {
    background-color: #282828;
    padding-top: 30px;
    padding-bottom: 30px;
    h1 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-family: "Lato";
        font-weight: 400;
        &:after {
            display: block;
            width: 10%;
            margin: auto;
            content: '';
            background-color: #9c1c28;
            height: 4px;
            margin-top: 10px;
    }
}
.list {
    .new {
        background-color: #363636;
        height: 95%;
        min-width: 100%;
        .new-img {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            img {
                max-width: 70%;
                max-height: 100%;
                height: auto;
            }
        }
        .price {
            margin: 20px auto;
            // width: 50%;
            h4 {
                color: #ff3448;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                font-family: "Lato";
                font-weight: 400;
            }
            p {
                color:white;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                font-family: "Lato";
                font-weight: 400; 
            }
            i {
                color: #ff3448;
            }
        }
        .star {
            margin: auto;
            text-align: center;
        }
        
    }
}
}

.sale {
    background: url(../img/supercars2.png) no-repeat;
    max-width: 100%;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    position: relative;
    background-position: center;
    .offer {
        margin: 100px auto;
        width: 50%;
       .text-block {
        width: 50%;
        margin: auto;
        h1 {
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 60px;
            font-family: "Lato";
            font-weight: 600;
        }
        h2 {
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            font-family: "Lato";
            font-weight: 400; 
        }
        p {
            color: white;
            text-align: center;
            font-size: 14px;
            font-family: "Lato";
            font-weight: 400;
        }
        a {
            color: white;
            text-align: center;
            font-size: 14px;
            font-family: "Lato";
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            margin: auto;
            width: max-content;
            background-color: #9c1c28;
            border-radius: 20px;
            padding: 5px 20px;
        }
       }
    }
    .sale-mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        z-index: 1;
        left: 0;
    }
    .un-mask {
        position: relative;
        z-index: 2;
    }
}


.footer-links {
    background-color: #000000;
    width: 100%;
    padding: 40px 10%;
    border-bottom: 2px solid #595959;
    link {
        width: 20%;
    }
    i {
        color: white;
        margin-right: 3px;
    }
    h3 {
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        font-family: "Lato";
        &:after {
            display: block;
            width: 25%;
            content: '';
            background-color: #9c1c28;
            height: 3px;
            margin-top: 10px;
        }
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            a {
                color: #ff3448;
                font-size: 14px;
                font-family: "Lato";
            }
        }
    }
    p {
        color: #887979;
        font-size: 14px;
        font-family: "Lato";
    }
    input {
        background-color: #282828; 
        width: 90%;
        border: none;
        &:hover {
            text-decoration: none;
        }
    }
        button {
            color: white;
            text-align: center;
            font-size: 14px;
            font-family: "Lato";
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            margin: 10px 0;
            width: max-content;
            background-color: #9c1c28;
            border-radius: 20px;
            padding: 5px 20px;
            border: none;
        }
        
}

.footer {
background-color: #000000;
width: 100%;
h3 {
    padding-top: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    font-family: "Lato";
        &:after {
            display: block;
            width: 15%;
            content: '';
            background-color: #9c1c28;
            height: 3px;
            margin-top: 10px;
        }
}
p {
    color: #7f7171;
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato";
}
i {
    color: #ff3448;
}
a {
    color: #7f7171;
}
}




@media (max-width: 768px) {
    .sale {
        .offer {
            width: 100%;
            margin: auto;
            &:first-child {
                &:after {
                    content: '';
                    display: block;
                    margin: 15px auto;
                    width: 80%;
                    height: 3px;
                    background-color: #9c1c28;
                }
            }
            .text-block {
                width: 100%;
                margin: auto;
                h1 {
                font-size: 45px;
                }
                h2 {
                    font-size: 24px;
                }
                a {
                    font-size: 11px;
                    padding: 5px 15px;
                }
            }
        }
    }
    .footer-links {
        text-align: center;
        h3 {
            &:after {
                margin: 3px auto 2px;
            }
        }
    }
    .footer {
        text-align: center;
        h3 {
            font-size: 21px;
            &:after {
                margin: 3px auto 2px;
            }
        }
        p {
            font-size: 12px;
        }
    }
    .services {
        .product {
            img {
                display: block;
                margin-left: auto;
                width: 40%;
            }
            .text {
                padding-left: 0;
                top: auto;
            }
        }
    }
    .products {
        .new {
            height: auto !important;
        }
        .new-img {
            padding: 10% 0 10px !important;
            img {
                max-width: 50% !important;
                max-height: auto !important;
            }
        }
        .star {
            padding-bottom: 15px;
        }
    }
    .header-main {
        .tel {
            text-align: center;
            padding-left: 0 !important;
        }
        .work {
            text-align: center;
        }
        img {
            display: block;
            margin: auto;
        }
    }
}
